body {
    background-color: #C3C3C3;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

#about {
    height: 350px;
    background-color: #264653;
}

h1 {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 4em;
    color: #C3C3C3
}

#social {
    margin: 0 15px;
}

a {
    color: #C3C3C3;
}

a:hover {
    color: #949396;
}

/* #projects {
    margin: 25px 50px;
} */

h2 {
    font-size: 2.25em;
    margin-bottom: 35px;
    color: #264653;
    font-weight: bold;
}

.projectRow {
    margin-top: 100px;
}

#thumbnail {
    width: 275px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 480px) {
    h1 {
        margin-top: 50px;  
    }

    #project {
        margin-bottom: 50px;
    }
  }

  @media (max-width: 991px) {
    #project {
        margin-bottom: 50px;
    }
  }