/* css for portfolio page. going for brutalism style. */

* {
  box-sizing: border-box;
}

body {
  background: pink;
  font-family: 'Fira Mono', monospace;
  line-height: 1.5em;
}

h1 {
  border-bottom: 2px solid tomato;
  display: inline;
}

h1,
h2 {
  font-family: 'Share Tech Mono', monospace;
}

h2 {
  margin-top: 30px;
}

a:link {
  color: black;
}

a:visited {
  color: red;
}

a:hover {
  background: tomato;
  color: black;
}

/* center content to reasonable width on larger screens*/
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 60%;
    margin: auto;
  }
}
